openapi: 3.0.3
info:
  title: CertifiedData.io Verification API
  version: "1.0.0"
  description: |
    Public endpoints for fetching and verifying CertifiedData.io certificate manifests.

    Certificates are issued by CertifiedData.io and signed with Ed25519. Verification
    can be performed independently without trusting any server response:

    1. Fetch the manifest envelope from `/api/cert/{id}/manifest`
    2. Fetch the public key from `/.well-known/signing-keys.json`
    3. Verify the Ed25519 signature using `@certifieddata/verify`

    Canonicalization rule: `json-stable-stringify(stripUndefined(payload))` → UTF-8 bytes
  contact:
    email: support@certifieddata.io
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://certifieddata.io
    description: Production

paths:
  /api/cert/{id}/manifest:
    get:
      operationId: getCertManifest
      summary: Get signed certificate manifest
      description: |
        Returns the signed certificate manifest envelope for the given certificate ID.

        The `payload` field is exactly what was signed. The `signature` field contains
        the detached Ed25519 signature and key ID.

        This response is immutable and strongly cached (`Cache-Control: public, max-age=31536000, immutable`).
        Certificates are never modified after issuance.
      parameters:
        - name: id
          in: path
          required: true
          description: Certificate UUID
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Signed manifest envelope
          headers:
            Content-Type:
              schema:
                type: string
                example: "application/certifieddata.manifest+json; charset=utf-8"
            Cache-Control:
              schema:
                type: string
                example: "public, max-age=31536000, immutable"
          content:
            application/certifieddata.manifest+json:
              schema:
                $ref: "#/components/schemas/ManifestEnvelope"
        "404":
          description: Certificate not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                error: CERT_NOT_FOUND
                message: Certificate not found.

  /verify/{id}/status:
    get:
      operationId: getVerifyStatus
      summary: Machine-friendly verification status
      description: |
        Returns server-side verification result for a certificate.

        Includes:
        - Whether the signature verified cryptographically
        - The algorithm and key ID used
        - Whether the certificate is revoked
        - A `checked_at` timestamp

        Note: This is the server's verification result. For independent verification,
        use the manifest endpoint + `@certifieddata/verify`.
      parameters:
        - name: id
          in: path
          required: true
          description: Certificate UUID
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Verification status
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VerifyStatusResponse"
        "404":
          description: Certificate not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /api/badge/{certId}:
    get:
      operationId: getBadgeData
      summary: Rich badge data for embed widgets
      description: |
        Returns structured badge data for the given certificate ID.
        Consumed by `embed.js` and partner integrations.

        CORS-enabled (`Access-Control-Allow-Origin: *`).
        Cached for 5 minutes for active certificates; `no-store` for revoked/invalid.
      parameters:
        - name: certId
          in: path
          required: true
          description: Certificate UUID
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Badge data
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: "*"
            Cache-Control:
              schema:
                type: string
                example: "public, max-age=300, stale-while-revalidate=60"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadgeData"
        "404":
          description: Certificate not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /api/badge/{certId}/track:
    post:
      operationId: trackBadgeEvent
      summary: Record a badge analytics event
      description: |
        Fire-and-forget analytics event from embed.js.
        Always returns 200. Rate-limited by IP.
      parameters:
        - name: certId
          in: path
          required: true
          description: Certificate UUID
          schema:
            type: string
            format: uuid
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TrackEventRequest"
      responses:
        "200":
          description: Accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean

  /.well-known/signing-keys.json:
    get:
      operationId: getSigningKeys
      summary: Published Ed25519 public keys
      description: |
        Returns the list of active Ed25519 signing public keys used by CertifiedData.io.

        Use this to independently verify certificate signatures without trusting
        any server-side claim.

        Cached for 1 hour (`Cache-Control: public, max-age=3600`).
      responses:
        "200":
          description: Signing keys
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SigningKeysResponse"

components:
  schemas:
    ManifestEnvelope:
      type: object
      required: [schema_version, payload, signature]
      properties:
        schema_version:
          type: string
          enum: ["certifieddata.manifest.v1", "sdaas.manifest.v1"]
        payload:
          type: object
          description: The cert.v1 payload — exactly what was signed.
          properties:
            schema_version:
              type: string
              example: "cert.v1"
            certificate_id:
              type: string
              format: uuid
            certificate_type:
              type: string
              enum: [GENESIS, REPLICA]
            issued_at:
              type: string
              format: date-time
            issuer:
              type: object
              properties:
                name:
                  type: string
                  example: "CertifiedData.io"
                environment:
                  type: string
                  enum: [production, development]
                signing_key_id:
                  type: string
                signature_alg:
                  type: string
            subject:
              type: object
              properties:
                org_id:
                  type: string
                user_id:
                  type: string
                project:
                  type: string
                dataset_name:
                  type: string
            hashes:
              type: object
              properties:
                certificate_payload_sha256:
                  type: string
                  description: "Hex SHA-256 of canonical payload bytes"
                datasets:
                  type: object
                  additionalProperties:
                    type: object
                    properties:
                      sha256:
                        type: string
                      size_bytes:
                        type: integer
                      row_count:
                        type: integer
        signature:
          type: object
          required: [alg, key_id, value]
          properties:
            alg:
              type: string
              enum: [Ed25519, HMAC-SHA256]
              description: "Only Ed25519 is independently verifiable."
            key_id:
              type: string
              nullable: true
            value:
              type: string
              nullable: true
              description: Base64-encoded signature bytes

    VerifyStatusResponse:
      type: object
      properties:
        cert_id:
          type: string
        verified:
          type: boolean
        status:
          type: string
          nullable: true
          example: "ISSUED"
        signature_verified:
          type: boolean
          nullable: true
        alg:
          type: string
          nullable: true
        key_id:
          type: string
          nullable: true
        checked_at:
          type: string
          format: date-time

    SigningKeysResponse:
      type: object
      properties:
        keys:
          type: array
          items:
            $ref: "#/components/schemas/SigningKey"
        issuer:
          type: string
          example: "CertifiedData.io"
        documentation:
          type: string
          example: "https://certifieddata.io/verification-framework"

    SigningKey:
      type: object
      properties:
        key_id:
          type: string
        algorithm:
          type: string
          enum: [Ed25519]
        public_key_pem:
          type: string
          description: PEM-formatted Ed25519 public key (SPKI format)
        status:
          type: string
          enum: [active, revoked]
        created_at:
          type: string
          format: date-time

    BadgeData:
      type: object
      required:
        - certificate_id
        - artifact_type
        - certificate_url
        - issued_at
        - issuer
        - schema_version
        - status
        - is_verified
        - is_deprecated
        - hash_algorithm
        - signature_algorithm
        - hash_short
        - hash_full
        - signed_payload_url
        - verification_url
        - signing_keys_url
      properties:
        certificate_id:
          type: string
          format: uuid
        artifact_name:
          type: string
          nullable: true
        artifact_type:
          type: string
          example: synthetic_dataset
        certificate_url:
          type: string
          format: uri
        issued_at:
          type: string
          format: date-time
        issuer:
          type: string
          example: CertifiedData.io
        schema_version:
          type: string
          example: cert.v2
        status:
          type: string
          enum: [active, deprecated, revoked, invalid, unavailable]
        is_verified:
          type: boolean
        is_deprecated:
          type: boolean
        hash_algorithm:
          type: string
          example: SHA-256
        signature_algorithm:
          type: string
          example: Ed25519
        hash_short:
          type: string
          description: Truncated hash for display (e.g. "a7f3c9...91e2")
        hash_full:
          type: string
          description: Full SHA-256 hash without algorithm prefix
        signed_payload_url:
          type: string
          format: uri
        verification_url:
          type: string
          format: uri
        signing_keys_url:
          type: string
          format: uri

    TrackEventRequest:
      type: object
      properties:
        event_type:
          type: string
          enum: [impression, click, expand, verify]
          default: impression
        source_url:
          type: string
          description: URL of the page embedding the badge
          maxLength: 2000
        install_type:
          type: string
          enum: [script, iframe, svg, static, module]
          default: script

    ErrorResponse:
      type: object
      properties:
        error:
          type: string
        message:
          type: string
